* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: proxima nova;
  user-select: none;
}

body {
  background-color: rgb(83, 83, 83);
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.menu-filters {
  position: fixed;
  right: 50px;
  bottom: 50px;
  // bottom: 160px;
  // width: 400px;
  // min-height: 524px;
  padding-bottom: 40px;
  background: #ffffff;

  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  // overflow: hidden;
  // display: none;
  overflow: hidden;

  width: 75px;
  height: 75px;
  border-radius: 100%;

  transition: all 0.5s;
  .title-content {
    width: 100%;
    height: 80px;

    background: rgba(238, 170, 25, 0.575);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
  }

  .section-filter {
    width: 90%;
    // height: 20px;

    // background-color: rgb(182, 171, 171);

    .title-section {
      margin-top: 15px;
      padding: 0 0 0 15px;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bolder;
    }

    .grid-filters {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // grid-auto-rows: 100px;
      // background-color: rgb(123, 189, 167);
      // margin-top: 15px;
      // padding: 0px 15px 0 15px;
      padding: 15px;

      .filters {
        width: 90%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        text-transform: uppercase;

        transition: all 0.5s;
        &:hover {
          background-color: rgb(54, 148, 235);
          color: white;
          transition: all 0.5s;
        }

        .checkFilter {
          display: none;
          // width: 50px;
          // color: cadetblue;
          // background-color: rgb(136, 67, 67);
        }

        .label-checkbox {
          cursor: pointer;
          text-align: center;
          // background-color: rgb(77, 47, 47);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 10px;
        }

        margin-top: 20px;
      }
    }

    .content-button-search {
      position: relative;
      // background: red;
      width: 90%;
      height: 50px;

      .button-enviar {
        position: absolute;
        bottom: 0;
        right: 0;

        border-radius: 5px;
        padding: 5px 10px;
        background: #ffffff;

        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          // background-color: rgb(116, 109, 219);
          transition: all 0.5s;
          transform: translateY(-10px);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
        }
      }
    }

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.button-map {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 75px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
  z-index: 100;
  overflow: hidden;

  .toggle-button {
    position: absolute;
    transition: all 0.5s;
    svg {
      transform: scale(0.5);
    }

    &:nth-child(2) {
      transform: translateY(-100%);
    }
    
  }

  &:hover {
    transform: scale(1.2);
    transition: all 0.5s;
  }
}
